{% extends 'cto/ctobase.html' %}
{% load widget_tweaks %}
{% block content %}
<div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="../../../../cto/cto-dashboard">Dashboard</a></li>
      <li class="breadcrumb-item"><a href="../../../../cto/cto-view-knownskill">View Known Skills</a></li>
      <li class="breadcrumb-item active" aria-current="page">Update Known Skills</li>
    </ol>
  </nav>
</div>
<h3 style="text-align:center;">Update Known Skills</h3>
<div>
  <form method="post" autocomplete="off" enctype="multipart/form-data" style="margin-left:200px;margin-right:200px;">
      {% csrf_token %}
        <label for="knownskill_name">Known Skill Name</label>
          {% render_field knownskillForm.knownskill_name class="form-control" placeholder="Known Skill Name" value=sub %}
<br><br>
    <input type="submit" value="Update">
  </form>
</div>

{% if messages %}
  {% for message in messages %}
    {{ message }}
  {% endfor %}
{% endif %}

<br><br><br><br><br><br><br><br>
{% endblock content %}
