{% extends 'trainer/trainerbase.html' %}
{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <link href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
  <script
    src="https://cdn.jsdelivr.net/gh/jeffreydwalter/ColReorderWithResize@9ce30c640e394282c9e0df5787d54e5887bc8ecc/ColReorderWithResize.js"></script>
  <script src="/static/datatableconfig.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }

    table.dataTable tr.odd {
      background-color: #E2E4FF;
    }

    table.dataTable tr.even {
      background-color: white;
    }
  </style>
</head>
<ol class="breadcrumb text-right">
  <li><a href="/trainer/trainer-dashboard">Dashboard</a></li>
  <li><a href="/trainer/trainer-learner-video-course">Learner Courses for Recorded Videos</a></li>
  <li class="active">Video Subject List of Course : {{coursename}}</li>
</ol>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Video Subject List of Course : {{coursename}}</h6>
    </div>
    <table class="table table-hover display" id="dev-table">
      <thead>
        <tr>
          <th>Subject Name</th>
          <th hidden>Total Video</th>
          <th hidden>Video Watched</th>
          <th hidden>Watched %</th>
          <th>Video List</th>
          <th>Aprroved all</th>
        </tr>
      </thead>
      {% for t in subject %}
      <tr>
        <td>{{t.name}}</td>
        <td hidden>{{t.Vtotal}}</td>
        <td hidden>{{t.VWatched}}</td>
        <td hidden><progress id="file" value="{{t.VWatched}}" max="{{t.Vtotal}}"> </progress> </td>
        <td><a class="btn btn-success" href="{% url 'trainer-learner-video-list' t.id course_id user_id %}"><span
              class="glyphicon glyphicon-circle-arrow-right"></span></a></td>
              <td><a class="btn btn-info" href="{% url 'trainer-learner-approveall-video' user_id t.id %}"><span class="glyphicon glyphicon-saved"></span></a></td>
        {% endfor %}
      </tr>
      <!-- Woking TR -->
      <!-- <tr>
        <td>Totals :</td>
        <td>
          <span id="val"></span>
        </td>
        <td>
          <span id="val1"></span>
        </td>
        <td><span id="val2"></span></td>
        <td></td>
        <td></td>
      </tr> -->
      <!-- <tr>
        <td>Totals :</td>
        <td>{{tc}}</td>
        <td>{{wc}}</td>
        <td>{{per|floatformat:2}} %</td>
        <td></td>
      </tr> -->
    </table>
  </div>
</div>
<div style="text-align: center">
  <!-- <canvas id="myChart" style="width:100%;max-width:600px"></canvas> -->
</div>
<script>
  var arr = $("#dev-table tr");
  // $.each(arr, function (i, item) {
  //   var currIndex = $("#dev-table tr").eq(i);
  //   var matchText = currIndex.children("td").first().text();
  //   $(this).nextAll().each(function (i, inItem) {
  //     if (matchText === $(this).children("td").first().text()) {
  //       $(this).remove();
  //     }
  //   });
  // }
  
  // );
  aaa();
  updateSubTotal();
function aaa () {
  $('table').find('tr').each(function(){
  const $row = $(this);
  $row.nextAll('tr').each(function(){
    const $next = $(this);
    if($row.find('td:first').text() == $next.find('td:first').text()) {
      $next.remove();
    }
  })
});
}
  function updateSubTotal() {
    debugger;
    var table = document.getElementById("dev-table"),
      sumVal = 0;
      sumVal1 = 0;
      var n = "";
    for (var i = 1; i < table.rows.length; i++) {
      n = table.rows[i].cells[0].innerHTML;
      if(n == 'Totals :')
      {
        break;
      }
      sumVal = sumVal + parseFloat(table.rows[i].cells[1].innerHTML);
      sumVal1 = sumVal1 + parseFloat(table.rows[i].cells[2].innerHTML);
    }

    document.getElementById("val").innerHTML = sumVal;
    document.getElementById("val1").innerHTML = sumVal1;
    document.getElementById("val2").innerHTML = ((sumVal1 * 100) / sumVal).toPrecision(2) + "%";
  }
</script>
<script>
  var xValues = ["Total", "Watch", "To be Watch", ""];
  var yValues = ["{{tc}}", "{{wc}}", "{{dif}}", 0];
  var barColors = ["red", "green", "blue", ""];

  new Chart("myChart", {
    type: "bar",
    data: {
      labels: xValues,
      datasets: [{
        backgroundColor: barColors,
        data: yValues
      }]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: "Video Subject List of Course : {{coursename}}"
      }
    }
  });
</script>
<br><br><br><br><br><br>
{% endblock content %}