django
asgiref
django-widget-tweaks
Pillow
pytz
sqlparse
django-ckeditor
djangorestframework
djangorestframework-simplejwt
requests
humanize
google-api-python-client 
django-environ
# pyodbc
# django-mssql-backend
# mssql-django
# # Ensure this driver is installed ODBC Driver 17 for SQL Server