<ul class="sidebar navbar-nav">
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">
            <span class="text-center">
                <h6>{{request.user.first_name}} {{request.user.last_name}}</h6>
            </span>
            <span class="text-center">
                <h6>Trainer</h6>
            </span>
        </a>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'trainer-dashboard' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li> 
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="pagesDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-sitemap"></i>
            <span>Course Material</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <a class="dropdown-item" href="../../../../trainer/trainer-add-material">Add Material</a>
            <a class="dropdown-item" href="../../../../trainer/trainer-view-material">View Material</a>
            <a class="dropdown-item" href="../../../../trainer/trainer-upload-material-details-csv">Upload Material CSV</a>
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="pagesDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-sitemap"></i>
            <span>Exam Related</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <a class="dropdown-item" href="../../../../trainer/trainer-add-exam">Add Exam</a>
            <a class="dropdown-item" href="../../../../trainer/trainer-view-exam">View Exam</a>
            <a class="dropdown-item" href="../../../../trainer/trainer-upload-exam-csv">Upload Exam CSV</a>
            <a class="dropdown-item" href="../../../../trainer/trainer-add-mcqquestion">Add Mcq Question</a>
            <a class="dropdown-item" href="../../../../trainer/trainer-view-mcqquestion-exams">View Mcq Question</a>
            <a class="dropdown-item" href="../../../../trainer/trainer-add-shortquestion">Add Short Question</a>
            <a class="dropdown-item" href="../../../../trainer/trainer-view-shortquestion">View Short Question</a>
            <a class="dropdown-item" href="../../../../trainer/trainer-pending-short-exam-reuslt">Pending Exams</a>
            
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="pagesDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-sitemap"></i>
            <span>Video Related</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <a class="dropdown-item" href="../../../../trainer/trainer-add-ytexamquestion">Add YT Exam Question</a>
            <a class="dropdown-item" href="../../../../trainer/trainer-view-ytexamquestion">View YT Exam Question</a>
        </div>
    </li>
</ul>