{% extends 'trainer/trainerbase.html' %}
{% load widget_tweaks %}
{% block content %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- jQuery and Bootstrap CSS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

  <!-- Bootstrap Icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

  <!-- HTMX -->
  <script src="https://unpkg.com/htmx.org@1.6.0"></script>
  <style>
    a:link {
      text-decoration: none;
    }
  </style>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<!-- jQuery and Bootstrap CSS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
  crossorigin="anonymous"></script>

<!-- Bootstrap Icons -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

<!-- HTMX -->
<script src="https://unpkg.com/htmx.org@1.6.0"></script>

	<style type="text/css">
     
      div.container {
        max-width: 500px;
        margin: 100px auto;
        border: 2px solid white;
        padding: 10px;
        text-align: left;
      }
      h4 {
        text-transform: uppercase;
      }
      input[type=text] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      }
      input[type=text]:focus {
  background-color: lightblue;
}
    </style>
    <title></title>
    <script>
      function validateForm() {
        let x = document.forms[0]["subjectname"].value;
        if (x == "") {
          alert("Subject Name must be filled out");
          return false;
        }
        x = document.forms[0]["description"].value;
        if (x == "") {
          alert("description must be filled out");
          return false;
        }
        var fileInput =
                document.getElementById('select_file');
             
            var filePath = fileInput.value;
         
            // Allowing file type
            var allowedExtensions =
            /(\.pdf)$/i;
             
            if (!allowedExtensions.exec(filePath)) {
                alert('Invalid file type');
                fileInput.value = '';
                return false;
            }
      }
      </script>
</head>
<body> 

    <div class="container">
      <h4>Upload a File: </h4>
      <form action="{% url 'trainer-start-upload-file' %}"  onsubmit="return validateForm()" method="POST" enctype="multipart/form-data">
        {%csrf_token%}
      <label for="subject">Subject Name</label>
      <select class="custom-select mb-4" name="subject" hx-get="{% url 'trainer-view-material-chapters' %}"
        hx-trigger="change" hx-target="#chapters">
        <option selected>Choose your Subject</option>
        {% for subject in subjects %}
        <option value="{{subject.pk}}">{{ subject.name }}</option>
        {% endfor %}
      </select>
      <div id="chapters">
        {% include 'trainer/material/trainer_material_chapters.html' %}
      </div>
        <BR>
          <label for="description">Description</label><br>
        <input type="text" name="description" id="description">
        <BR>
        <input type="file" name="select_file" id="select_file">
        <br><br>
        <button type="submit">Upload</button>
        <BR>
        {{filename}}
    </form>
    </div>
    <br><br><br><br><br><br><br><br><br><br>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    {% endblock content %}
    