<!--**********************************
            Sidebar start
        ***********************************-->
<div class="dlabnav" style="overflow:auto;">
    <div class="settings-widget dash-profile">
        <div class="settings-menu p-0">
            <div class="profile-bg">
                <img src="/static/dreamlms/img/instructor-profile-bg.jpg" alt="">
                <div class="profile-img">
                    {% if userdetails.userprofile_set.first.profile_img %}
                    <a href="{% url 'user-profile' %}"><img src="{{ request.user.userprofile_set.first.profile_img.url }}" alt=""></a>
                    {% endif %}
                </div>
            </div> 
            <div class="profile-group">
                <div class="profile-name text-center">
                    {{request.user.first_name}} {{request.user.last_name}}
                    <h6>({{request.user.username}})</h6>
                    <h6>Admin</h6>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="dlabnav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="{% url 'admin-dashboard' %}" class="" aria-expanded="false">
                    <i class="bi bi-grid"></i>
                    <span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a class="has-arrow " href="{% url 'admin-view-user-list' %}" aria-expanded="false">
                    <i class="bi bi-book"></i>
                    <span class="nav-text">Users</span>
                </a>
                <ul aria-expanded="false">
                    <li>
                        <a href="{% url 'admin-view-user-list' %}">User List</a>
                    </li>
                    
                </ul>
            </li>
            
            <li>
                <div class="instructor-title">
                    <h4>ACCOUNT SETTINGS</h4>
                </div>
                <li>
                    <a href="{% url 'logout' %}" class="" aria-expanded="false">
                        <i class="bi bi-door-closed"></i>
                        <span class="nav-text">Sign Out</span>
                    </a>
                    <li>
                    </ul>
                </div>
            </div>
            <!--**********************************
            Sidebar end
        ***********************************-->
