{% extends 'trainer/trainerbase.html' %}
{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <link href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
  <script
    src="https://cdn.jsdelivr.net/gh/jeffreydwalter/ColReorderWithResize@9ce30c640e394282c9e0df5787d54e5887bc8ecc/ColReorderWithResize.js"></script>
  <script src="/static/datatableconfig.js"></script>
  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }

    table.dataTable tr.odd {
      background-color: #E2E4FF;
    }

    table.dataTable tr.even {
      background-color: white;
    }
  </style>
</head>

<body>
  <ol class="breadcrumb text-right">
    <li><a href="trainer-dashboard">Dashboard</a></li>
    <li><a href="trainer-add-mcqquestion">Add Mcq Question</a></li>
    <li class="active">View Mcq Question</li>
  </ol>
  <br><br>
  <div class="container">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h6 class="panel-title">Mcq Question</h6>
      </div>
      <table class="table table-hover" id="dev-table">
        <thead>
          <tr>
            <th>Exam Name</th>
            <th>Mcq Question Name</th>
            <th>Option 1</th>
            <th>Option 2</th>
            <th>Option 3</th>
            <th>Option 4</th>
            <th>Answer</th>
            <th>Marks</th>
            <th>Delete</th>
          </tr>
        </thead>
        {% for t in mcqquestions %}
        <tr>
          <td> {{t.exam.exam_name}}</td>
          <td> {{t.question}}</td>
          <td> {{t.option1}}</td>
          <td> {{t.option2}}</td>
          <td> {{t.option3}}</td>
          <td> {{t.option4}}</td>
          <td>
            {{t.answer}}
          </td>
          <td> {{t.marks}}</td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'trainer-delete-mcqquestion' t.id  %}"
              onclick="return confirm('Are you sure?')"><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  <br><br><br><br><br><br>
  {% endblock content %}