{% extends 'learner/learnerbase.html' %}
{% block content %}
{%load static%}

<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <style type="text/css">
        html,
        body {
            width: 100%;
            height: 80%;
            margin: 0px;
        }

        .container {
            width: 400px;
            padding: 10px;
        }
    </style>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript">
        function autoResize(iframe) {
            $(iframe).height($(iframe).contents().find('html').height());
        }
    </script>
    <script type="text/javascript" src="/static/watched.js"></script>

</head>
</thead>
<ol class="breadcrumb text-right">
    <li><a href="/learner/learner-dashboard">Dashboard</a></li>
    <li><a href="/learner/learner-video-course">Learner Courses for Recorded Videos</a></li>
    <li><a href="/learner/learner-video-course-subject/{{course_id}}">Video Subject List of Course : {{coursename}}</a></li>
    <li><a href="/learner/learner-video-list/{{subject_id}},/{{course_id}}">Video List of Subject : {{subjectname}}</a></li>
    <li class="active">Playing Video of Topic : {{topicname}} </li>
</ol>
<h6 class="panel-title">
    <b>Playing Video of Topic : {{topicname}}</b>
</h6>

<div id="status" class="incomplete">
    <span>Play status: </span>
    <span class="status complete">COMPLETE</span>
    <span class="status incomplete">INCOMPLETE</span>
    <br />
</div>

<iframe id="ytplayer" width="100%" height="100%" src="{{url}}" frameborder="0" style="border: 5px solid rgb(51, 105, 30);" allow="accelerometer; autoplay; clipboard-write = 0; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" title="19.05Oct PyFileHandling"></iframe>
<div>
    <span id="played">0</span> seconds out of
    <span id="duration"></span> seconds. (only updates when the video pauses)
</div>
<iframe id="video2" width="75%" height="60%" marginheight="0" frameborder="0" border="0" scrolling="auto"
    onload="autoResize(this);" src="{{url}}" allowfullscreen></iframe>

{% endblock content %}