{% extends 'cto/ctobase.html' %}
{% load widget_tweaks %}
{% block content %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <style>
    a:link {
      text-decoration: none;
    }
  </style>
</head>

<body>
  <div>
    <ol class="breadcrumb text-right">
      <li><a href="cto-dashboard">Dashboard</a></li>
      <li><a href="cto-view-course">View Courses</a></li>
      <li class="active">Add Course By Play List</li>
    </ol>
  </div>
  <h2 style="text-align:center; color:blue;">Add Course By Playlist</h2>
  <form method="POST" autocomplete="off" style="margin:100px;margin-top: 0px;">
    {%csrf_token%}
    <div class="form-group">
      <label for="course_name">Course Name</label>
      {{ courseForm.course_name }}<br>
      <label for="subject_name">Subject Name</label>
      <select name="listbox2" id="field2" multiple multiselect-search="true" multiselect-select-all="true"
        multiselect-max-items="20" onchange="console.log(this.selectedOptions)">

        {% for entry in subject %}
        <option value="{{ entry.id}}">{{ entry.name }}</option>
        {% endfor %}
      </select>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>
      <script src="/static/multiselect-dropdown.js"></script>

    </div>
    <button type="submit" class="btn btn-primary" onclick="return btnsubmit(event);">ADD</button>

  </form>
  <div id="waiting" style="display:none">
    <img src="/static/image/processing-gif-image-5.gif">
  </div>
  <br>
  <script>
    function btnsubmit(e) {
      $('#waiting').show();
      return true;
    }
  </script>
  {% if messages %}
  {% for message in messages %}
  {{ message }}
  {% endfor %}
  {% endif %}
  <br><br><br>
  {% endblock content %}