{% extends 'cto/ctobase.html' %}
{% load static %}
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block title %}{% endblock %}
{% block content %}
<h2>Course</h2>
<form id="form-container" method="POST">
  {% csrf_token %}
  {{ courseForm.as_p }}
  
    <button type="submit">Save</button>
</form>

<script>
  let birdForm = document.querySelectorAll(".bird-form")
  let container = document.querySelector("#form-container")
  let addButton = document.querySelector("#add-form")
  let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

  let formNum = birdForm.length - 1 //Get the number of the last form on the page with zero-based indexing
  addButton.addEventListener('click', addForm)

  function addForm(e) {
    e.preventDefault()

    let newForm = birdForm[0].cloneNode(true) //Clone the bird form
    let formRegex = RegExp(`form-(\\d){1}-`, 'g') //Regex to find all instances of the form number

    formNum++ //Increment the form number
    newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`) //Update the new form to have the correct form number
    container.insertBefore(newForm, addButton) //Insert the new form at the end of the list of forms

    totalForms.setAttribute('value', `${formNum + 1}`) //Increment the number of total forms in the form management
  }
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'formset/jquery.formset.js' %}"></script>
<script type="text/javascript">
  $('.formset_row').formset({
    addText: 'add row',
    deleteText: 'remove',
    prefix: 'det_formset.prefix'
  });
</script>
{% endblock %}