{% extends 'learner/learnerbase.html' %}
{% block content %}
{%load static%}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
  a:link {
    text-decoration: none;
  }
</style>
</head>
<body>
<div>
<ol class="breadcrumb text-right">
  <li><a href="learner-dashboard">Dashboard</a></li>
  <li class="active">K8S Terminal</li>
</ol>
</div>
<h2 style="text-align:center; color:blue;">K8S Terminal</h2>
<form method="POST" autocomplete="off" style="margin:100px;margin-top: 0px;">
    <div class="form-group">
      <label for="password">Password</label><br>
        <input type="password" id="password" name="password" autofocus><br>
    </div>
    <button type="submit" class="btn btn-primary">Start</button>
  </form>
{% if messages %}
{% for message in messages %}
<div class="alert {{ message.tags }}" role="alert-warning">
    {{ message }}
</div>
{% endfor %}
{% endif %}
<br><br><br>
{% endblock content %}
