{% block content %}
{%load static%}

<link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">

<link rel="stylesheet" href="/static/assets/plugins/fontawesome/css/fontawesome.min.css">
<link rel="stylesheet" href="/static/assets/plugins/fontawesome/css/all.min.css">

<link rel="stylesheet" href="/static/assets/css/feather.css">

<link rel="stylesheet" href="/static/assets/css/style.css">
<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../../../../learner/learner-dashboard">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="../../../../learner/learner-studymaterial-module">Courses</a></li>
            <li class="breadcrumb-item"><a href="../../../../learner/learner-studymaterial-module-chapter/{{modulename}}/{{module_id}} ">{{modulename}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Preview</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="lesson-group">
            <div class="course-card">
                <h6 class="cou-title">
                    <a>{{chapter_name}} <span>{{topiccount}} Lessons</span> </a>
                </h6>
                <div id="collapseOne" class="card-collapse ">
                    <div class="progress-stip">
                        <div class="progress-bar bg-success progress-bar-striped active-stip"></div>
                    </div>
                    <div class="student-percent lesson-percent">
                        <p>10hrs<span>50%</span></p>
                    </div>
                    <ul>
                        {% for t in list %}
                        <li>
                            {% if forloop.counter == 1 or t.matcount > 0 %}

                            <p class="play-intro">
                                {% if t.mtype == "PDF" %}
                                <a href='https://nbviewer.org/github{{t.urlvalue|cut:"https://github.com"}}'
                                    class="link" data-id="{{ t.id }}">{{t.topic}}</a>
                                {% elif t.mtype == "Video" %}
                                <a href='{{t.urlvalue}}' class="link" data-id="{{ t.id }}">{{t.topic}}</a>
                                {% elif t.mtype == "URL" %}
                                <a href="javascript:void(0)" onclick="loadIframe('{{t.urlvalue}}')">{{t.topic}}</a>
                                {% elif t.mtype == "HTML" %}
                                <a href='https://htmlpreview.github.io/?{{t.urlvalue}}' class="link"
                                    data-id="{{ t.id }}">{{t.topic}}</a>
                                {% endif %}
                            </p>
                            <div>
                                <img src="/static/assets/img/icon/play-icon.svg" alt="">
                            </div>
                            {% else %}
                            <p class="play-intro">
                                <a>{{t.topic}}</a>
                            </p>
                            <div>
                                <img src="/static/assets/img/icon/lock.svg" alt="">
                            </div>
                            {% endif %}

                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="student-widget lesson-introduction">
            <div class="lesson-widget-group">
                <div id="instruction">
                    <h4 class="tittle">Preview Window</h4>
                    <p>
                        Please click topic name present on left side to see preview here.
                    </p>
                </div>
                <div>
                    <h4 class="tittle" id="iframeHeading"></h4>
                </div>
                <iframe id="myIframe"></iframe>
            </div>
        </div>
    </div>
</div>
<style>
    body {
        margin: 0;
        padding: 0;
    }

    iframe {
        width: 100%;
        height: 100%;
    }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    const links = $('.link');
    const myIframe = $('#myIframe');
    const iframeHeading = $('#iframeHeading');

    links.on('click', function (event) {
        event.preventDefault();
        var myDiv = document.getElementById("instruction");
        myDiv.style.display = "none";
        const selectedLink = $(this);
        const selectedValue = selectedLink.data('id');
        const selectedText = selectedLink.text();
        myIframe.attr('src', selectedLink.attr('href') + '?id=' + selectedValue);
        iframeHeading.text(selectedText);

        // Make AJAX request to update model with selected ID
        $.ajax({
            url: "{% url 'ajax_save_topic' %}",
            method: 'POST',
            contentType: 'application/json',
            data: { id: selectedValue },
            success: function (response) {
                console.log('Updated model successfully');
            },
            error: function (error) {
                console.log('Error updating model: ', error);
            }
        });
    });
</script>
{% endblock content %}