{% extends 'learner/learnerbase.html' %}
{% block content %}
{%load static%}
<div class="inner-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h2>{{coursename}}</h2>
                <p>Learn Web Development by building 25 websites and mobile apps using HTML, CSS, Javascript,
                    PHP, Python, MySQL & more!</p>
                <div class="course-info d-flex align-items-center border-bottom-0 m-0 p-0">
                    <div class="cou-info">
                        <img src="/static/assets/img/icon/icon-01.svg" alt="">
                        <p>__ Lesson</p>
                    </div>
                    <div class="cou-info">
                        <img src="/static/assets/img/icon/timer-icon.svg" alt="">
                        <p>__ min</p>
                    </div>
                    <div class="cou-info">
                        <img src="/static/assets/img/icon/people.svg" alt="">
                        <p>__ students enrolled</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="page-content course-sec">
    <div class="container">
        <div class="row">
            <div>
                <div class="card overview-sec">
                    <div class="card-body">
                        <h5 class="subs-title">Overview</h5>
                        <h6>Course Description</h6>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                            Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                            unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries, but also the leap into electronic
                            typesetting, remaining essentially unchanged.</p>
                        <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                            Ipsum passages, and more recently with desktop publishing software like Aldus
                            PageMaker including versions of Lorem Ipsum.</p>
                        <h6>What you'll learn</h6>
                        <div class="row">
                            <div class="col-md-6">
                                <ul>
                                    <li>Become a UX designer.</li>
                                    <li>You will be able to add UX designer to your CV</li>
                                    <li>Become a UI designer.</li>
                                    <li>Build & test a full website design.</li>
                                    <li>Build & test a full mobile app.</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul>
                                    <li>Learn to design websites & mobile phone apps.</li>
                                    <li>You'll learn how to choose colors.</li>
                                    <li>Prototype your designs with interactions.</li>
                                    <li>Export production ready assets.</li>
                                    <li>All the techniques used by UX professionals</li>
                                </ul>
                            </div>
                        </div>
                        <h6>Requirements</h6>
                        <ul class="mb-0">
                            <li>You will need a copy of Adobe XD 2019 or above. A free trial can be downloaded
                                from Adobe.</li>
                            <li>No previous design experience is needed.</li>
                            <li class="mb-0">No previous Adobe XD skills are needed.</li>
                        </ul>
                    </div>
                </div>
                <div class="card content-sec">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <h5 class="subs-title">Course Content</h5>
                            </div>
                            <div class="col-sm-6 text-sm-end">
                                <h6>__ Lectures __min</h6>
                            </div>
                        </div>
                        {% for t in list %}
                        <div class="course-card">
                            {% if t.srno == 1 %}
                            <h6 class="cou-title">
                                <a class="collapsed" data-bs-toggle="collapse" href="#collapseOne{{t.id}}"
                                    aria-expanded="false">{{t.id}} - {{t.subject_name}} </a>
                            </h6>
                            {% endif %}
                            <div id="collapseOne{{t.id}}" class="card-collapse collapse" style="">
                                <ul>
                                    <li>
                                        <p><img src="/static/assets/img/icon/play.svg" alt="" class="me-2">
                                            {{t.chapter_name}}
                                            {% if t.srno == 1 %}
                                        <div>
                                            <a
                                                href="{% url 'learner-studymaterial-subject-chapter' coursename t.subject_name t.id courseset_id %}">Preview</a>
                                        </div>
                                        {% endif %}

                                    </li>
                                </ul>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>


<footer class="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">

                    <div class="footer-widget footer-about">
                        <div class="footer-logo">
                            <img src="/static/assets/img/logo.png" alt="logo">
                        </div>
                        <div class="footer-about-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consequat mauris
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consequat mauris</p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-2 col-md-6">

                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">For Trainer</h2>
                        <ul>
                            <li><a href="instructor-profile.html">Profile</a></li>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="register.html">Register</a></li>
                            <li><a href="instructor-list.html">Trainer</a></li>
                            <li><a href="deposit-instructor-dashboard.html"> Dashboard</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-lg-2 col-md-6">

                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">For Student</h2>
                        <ul>
                            <li><a href="student-profile.html">Profile</a></li>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="register.html">Register</a></li>
                            <li><a href="students-list.html">Student</a></li>
                            <li><a href="deposit-student-dashboard.html"> Dashboard</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6">

                    <div class="footer-widget footer-contact">
                        <h2 class="footer-title">News letter</h2>
                        <div class="news-letter">
                            <form>
                                <input type="text" class="form-control" placeholder="Enter your email address"
                                    name="email">
                            </form>
                        </div>
                        <div class="footer-contact-info">
                            <div class="footer-address">
                                <img src="/static/assets/img/icon/icon-20.svg" alt="" class="img-fluid">
                                <p> 3556 Beech Street, San Francisco,<br> California, CA 94108 </p>
                            </div>
                            <p>
                                <img src="/static/assets/img/icon/icon-19.svg" alt="" class="img-fluid">
                                <a href="https://dreamslms.dreamguystech.com/cdn-cgi/l/email-protection"
                                    class="__cf_email__"
                                    data-cfemail="2a4e584f4b47594647596a4f524b475a464f04494547">[email&#160;protected]</a>
                            </p>
                            <p class="mb-0">
                                <img src="/static/assets/img/icon/icon-21.svg" alt="" class="img-fluid">
                                +19 123-456-7890
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="footer-bottom">
        <div class="container">

            <div class="copyright">
                <div class="row">
                    <div class="col-md-6">
                        <div class="privacy-policy">
                            <ul>
                                <li><a href="term-condition.html">Terms</a></li>
                                <li><a href="privacy-policy.html">Privacy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="copyright-text">
                            <p class="mb-0">&copy; 2022 DreamsLMS. All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>
</div>
{% endblock content %}