{% extends 'trainer/trainerbase.html' %}
{% load widget_tweaks %}
{% block content %}
<head>
    <meta charset="UTF-8">
	<style type="text/css">
      div.container {
        max-width: 500px;
        margin: 100px auto;
        border: 2px solid white;
        padding: 10px;
        text-align: left;
      }
      h4 {
        text-transform: uppercase;
      }
      input[type=text] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      }
      input[type=text]:focus {
  background-color: lightblue;
}
    </style>
    <title></title>
    <script>
      function validateForm() {
        let x = document.forms[0]["select_folder"].value;
        if (x == "") {
          alert("path must be filled out");
          return false;
        }
      }
      </script>
</head>
<body>

    <div class="container">
      <h4>Upload a File: </h4>
      <form action="{% url 'trainer-start-sync-video-folder' %}"  onsubmit="return validateForm()" method="POST" enctype="multipart/form-data">
        <label for="select_folder">Folder Path</label><br>
        <input type="text" name="select_folder" id="select_folder" value = "D:/upload/iLMS">
        <button type="submit">Upload</button>
        <BR>
        {{filename}}
    </form>
    </div>
    <br><br><br><br><br><br><br><br><br><br>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    {% endblock content %}
    