<!DOCTYPE html>
{% load widget_tweaks %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<style media="screen">
  .jumbotron {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .jumbotron h1 {
    text-align: center;
  }

  .alert {
    margin: 0px;
  }

  th {
    text-align: center;
  }

  /* #select2,
  #select1,
  #select3,
  #select4 {
    height: 250px;
    width: 250px;
  } */

  #iswhatsapp {
    height: 250px;
    width: 250px;
  }

  .approveTermsContainer {
    display: flex;
    justify-content: center;
  }

  .transferBtns {
    margin-right: 30px;
    margin-left: 30px;
  }

  .transferBtns {
    float: left;
    align-self: center;
  }
</style>

<script type="text/javascript">
  $().ready(function () {
    $('#add').click(function () {
      return !$('#select1 option:selected').remove().appendTo('#select2');
    });

    $('#add1').click(function () {
      return !$('#select3 option:selected').remove().appendTo('#select4');
    });

    $('#remove').click(function () {
      return !$('#select2 option:selected').remove().appendTo('#select1');
    });

    $('#remove1').click(function () {
      return !$('#select4 option:selected').remove().appendTo('#select3');
    });
  });
  function validateForm() {
    let x = document.forms[0]["user_full_name"].value;
    if (x == "") {
      alert("Please Enter Name");
      return false;
    }
    x = document.forms[0]["mobile"].value;
    y = document.forms[0]["mobile"].value.length;
    if (x.length != 10) {
      alert("Please Enter 10 Digit Mobile No");
      return false;
    }

    x = document.forms[0]["iswhatsapp"].checked;
    debugger;
    if (x == false) {
      x = document.forms[0]["whatsappno"].value;
      if (x.lenght != 10) {
        alert("Please Enter 10 Digit WhatsApp No");
        return false;
      }
    }
    x = document.forms[0]["listbox1"].value;
    if (x == "") {
      alert("Known Skills must be Selected");
      return false;
    }

    x = document.forms[0]["listbox1"].value;
    if (x == "") {
      alert("Known Skills must be Selected");
      return false;
    }

    x = document.forms[0]["listbox3"].value;
    if (x == "") {
      alert("Passionate Skills must be Selected");
      return false;
    }


  }
</script>

<body>
  {% include "lxpapp/navbar.html" %}
  <br>
  <br>
  <br>
  <h2 style="text-align:center; color:blue;">ADD DETAILS</h2>
  <form onsubmit="return validateForm()" method="POST" autocomplete="off" style="margin:100px;margin-top: 0px;">
    {%csrf_token%}
    <div class="form-row">
      <div class="col">
        <label for="user_full_name">Full Name</label>
        {% render_field learnerdetailsForm.user_full_name class="form-control" value=username%}
      </div>
    </div>
    <div class="form-row">

      <div class="col">
        <label for="mobile">Mobile No.</label>
        {% render_field learnerdetailsForm.mobile class="form-control"%}
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <label for="iswhatsapp">Is Above No. is WhatsApp No.</label>
        {% render_field learnerdetailsForm.iswhatsapp %}
      </div>
      <div class="col">
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <label for="whatsappno">If no, please provide WhatsApp No.</label>
        {% render_field learnerdetailsForm.whatsappno class="form-control"%}
      </div>
      <div class="col">

      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
      crossorigin="anonymous"></script>
    <script src="/static/multiselect-dropdown.js"></script>
    <div class="form-row">
      <div class="col">
        <label for="select1">Known Skills(KS)</label><br>
        <select class="form-control" name="listbox1" id="select1" multiple multiselect-search="true"
          multiselect-select-all="true" multiselect-max-items="20" onchange="console.log(this.selectedOptions)">
          {% for t in kskills %}
          <option value="{{ t.id }}">{{t.knownskill_name}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
      <div class="form-row">
        <div class="col">
        <label>Passionate Skills(PS) </label>
        <select class="form-control" name="listbox3" id="select3" multiple multiselect-search="true"
          multiselect-select-all="true" multiselect-max-items="20" onchange="console.log(this.selectedOptions)">
          {% for t in pskills %}
          <option value="{{ t.id }}">{{t.passionateskill_name}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
  <div class="jumbotron" style="margin-top: 0px;  margin-bottom: 0px;">
    <p>Check Later</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/logout" role="button">Logout For Now</a>
    </p>
  </div>

  {% include "lxpapp/footer.html" %}
</body>

</html>