{% extends 'trainer/trainerbase.html' %}
{% load widget_tweaks %}
{% block content %}
<section class="content">
    <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            {% for t in breadcrumbsetting %}

            {% if t.head == "Active" %}
            <li class="breadcrumb-item active" aria-current="page">{{t.link}}</li>
            {% else %}
            <li class="breadcrumb-item"><a href="{{t.link}}">{{t.head}}</a></li>
            {% endif %}


            {% endfor %}
          </ol>
        </nav>
      </div>
      
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>
                    {% include "common/form_editing/form_template.html" with messages=messages  form=form button_text="Edit Exam"%}
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>
{% endblock content %}