
{% extends 'cto/ctobase.html' %}

{% block content %}

  <h2>Course Form</h2>

  <form method="post" id="courseForm" data-modules-url="{% url 'ajax_load_modules' %}" novalidate>
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>

    <button type="submit">Save</button>
    <a href="{% url 'course_changelist' %}">Nevermind1</a>
  </form>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#id_subject").change(function () {
      var url = $("#courseForm").attr("data-modules-url");  // get the url of the `load_topics` view
      var subjectId = $(this).val();  // get the selected subject ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: '{% url 'ajax_load_modules' %}',                    // set the url of the request (= localhost:8000/hr/ajax/load-topics/)
        data: {
          'subject': subjectId       // add the subject id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_topics` view function
          $("#id_module").html(data);  // replace the contents of the topic input with the data that came from the server
        }
      });

    });
    // this one is for fetching vanue data
    $("#id_module").change(function () { //django-model-form created this id
      var url = $("#courseForm").attr("data-modules-url");  // get the url of the `load_topics` view
      var moduleId = $(this).val();  // get the selected subject ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: '{% url 'ajax_load_chapters' %}',                    // set the url of the request (= localhost:8000/hr/ajax/load-topics/) course_form.html template has this url var
        data: {
          'module': moduleId       // add the subject id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_topics` view function
          $("#id_chapter").html(data);  // replace the contents of the topic input with the data that came from the server
        }
      });

    });

        $("#id_chapter").change(function () { //django-model-form created this id
      var url = $("#courseForm").attr("data-chapters-url");  // get the url of the `load_topics` view
      var chapterId = $(this).val();  // get the selected subject ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: '{% url 'ajax_load_topics' %}',                    // set the url of the request (= localhost:8000/hr/ajax/load-topics/) course_form.html template has this url var
        data: {
          'chapter': chapterId       // add the subject id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_topics` view function
          $("#id_topic").html(data);  // replace the contents of the topic input with the data that came from the server
        }
      });

    });

  </script>

{% endblock %}