{% extends 'trainer/trainerbase.html' %}
{% load widget_tweaks %}
{% block content %}
  
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- jQuery and Bootstrap CSS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

  <!-- Bootstrap Icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

  <!-- HTMX -->
  <script src="https://unpkg.com/htmx.org@1.6.0"></script>
  <style>
    a:link {
      text-decoration: none;
    }
  </style>

</head>

<body>
  <div>
    <ol class="breadcrumb text-right">
      <li><a href="trainer-dashboard">Dashboard</a></li>
      <li><a href="trainer-view-material">/View Materials</a></li>
      <li class="active">/Add Material</li>
    </ol>
  </div>
  <h2 style="text-align:center; color:blue;">Add Material</h2>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- jQuery and Bootstrap CSS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

  <!-- Bootstrap Icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

  <!-- HTMX -->
  <script src="https://unpkg.com/htmx.org@1.6.0"></script>
  </head>
  <div class="container mt-5">
    <form method="POST" autocomplete="off" onsubmit="return validateForm()" style="margin: 100px; margin-top: 0px">
      {%csrf_token%}
      <label for="subject">Subject Name</label>
      <select class="custom-select mb-4" name="subject" hx-get="{% url 'trainer-view-material-chapters' %}"
        hx-trigger="change" hx-target="#chapters">
        <option selected>Choose your Subject</option>
        {% for subject in subjects %}
        <option value="{{subject.pk}}">{{ subject.name }}</option>
        {% endfor %}
      </select>
      <div id="chapters">
        {% include 'trainer/material/trainer_material_chapters.html' %}
      </div>
      <div id="chapters">
        <label for="mtype">Meterial Type</label>
        <select name="mtype" class="custom-select">
          <option selected>Choose your Type</option>
          <option value="{{1}}">HTML</option>
          <option value="{{2}}">URL</option>
          <option value="{{3}}">PDF</option>
        </select>
        <label >Enter Details</label><br>
        <textarea id="urlvalue" name="urlvalue" rows="4" cols="50"></textarea><br>
        <label >Enter Description</label><br>
        <input type="text" id="description" name="description">
      </div>
      <button type="submit" class="btn btn-primary">ADD</button>
      <br> {% if messages %}
    {% for message in messages %}
    {{ message }}<br>
    {% endfor %}
    {% endif %}
    </form>
    
  </div>
  <script>
    function validateForm() {
      let x = document.forms[0]["subject"].value;
      if (x == "Choose your Subject") {
        alert("Subject Name must be filled out");
        return false;
      }
      x = document.forms[0]["chapter"].value;
      if (x == "Choose your chapter") {
        alert("Chapter Name must be filled out");
        return false;
      }
      x = document.forms[0]["mtype"].value;
      if (x == "Choose your Type") {
        alert("Please Select Material Type");
        return false;
      }
      x = document.forms[0]["urlvalue"].value;
      if (x == "") {
        alert("Details must be filled out");
        return false;
      }

      x = document.forms[0]["description"].value;
      if (x == "") {
        alert("description must be filled out");
        return false;
      }
      var fileInput =
              document.getElementById('select_file');
           
          var filePath = fileInput.value;
       
          // Allowing file type
          var allowedExtensions =
          /(\.pdf)$/i;
           
          if (!allowedExtensions.exec(filePath)) {
              alert('Invalid file type');
              fileInput.value = '';
              return false;
          }
    }
    </script>
  {% endblock %}