{% extends 'learner/learnerbase.html' %}
{% load widget_tweaks %}
{% block content %} 
<head>
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <style type="text/css">
  
      </style>
      <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

<input type=button value="Back" onClick="javascript:history.go(-1);" class="btn btn-primary">
  {% for t in details %}
    <div class="panel-heading">
      <h6 class="panel-title"><b>Subject Name :  {{subjectname}} / Chapter Name : {{chaptername}} </b></h6>
    </div>

  {{t.urlvalue|safe}}
{% endfor %}
{% endblock content %}