<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="/static/assets/img/favicon.svg">

    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="/static/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/static/assets/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="/static/assets/css/feather.css">

    <link rel="stylesheet" href="/static/assets/css/style.css">
</head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% block title %}{% endblock %}
    <title>Nubeera CTO</title>

    {% load static %}

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">
    {% block stylesheet %}{% endblock %}
</head>

<body id="page-top">

<!-- headers-->
{% include "cto/layout/header.html" %}

<div id="wrapper">

    {% include "cto/layout/sidebar.html" %}

    {% block body %}{% endblock %}
</div>

<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<script src="{% static 'js/sb-admin.min.js' %}"></script>
<script>
    $(".alert-success").fadeTo(2000, 500).slideUp(500, function(){
        $(".alert-success").slideUp(500);
    });
    $(".alert-error").fadeTo(2000, 500).slideUp(500, function(){
        $(".alert-error").slideUp(500);
    });
</script>
<script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="/static/assets/js/jquery-3.6.0.min.js"></script>

<script src="/static/assets/js/bootstrap.bundle.min.js"></script>

<script src="/static/assets/plugins/feather/feather.min.js"></script>

<script src="/static/assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
<script src="/static/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

<script src="/static/assets/plugins/apexchart/apexcharts.min.js"></script>
<script src="/static/assets/plugins/apexchart/chart-data.js"></script>

<script src="/static/assets/js/script.js"></script>

{% block javascript %}{% endblock %}

<footer class="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">

                    <div class="footer-widget footer-about">
                        <div class="footer-logo">
                            <img src="/static/assets/img/logo.png" alt="logo">
                        </div>
                        <div class="footer-about-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consequat mauris
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consequat mauris</p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-2 col-md-6">

                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">For Trainer</h2>
                        <ul>
                            <li><a href="instructor-profile.html">Profile</a></li>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="register.html">Register</a></li>
                            <li><a href="instructor-list.html">Trainer</a></li>
                            <li><a href="deposit-instructor-dashboard.html"> Dashboard</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-lg-2 col-md-6">

                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">For Student</h2>
                        <ul>
                            <li><a href="student-profile.html">Profile</a></li>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="register.html">Register</a></li>
                            <li><a href="students-list.html">Student</a></li>
                            <li><a href="deposit-student-dashboard.html"> Dashboard</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6">

                    <div class="footer-widget footer-contact">
                        <h2 class="footer-title">News letter</h2>
                        <div class="news-letter">
                            <form>
                                <input type="text" class="form-control" placeholder="Enter your email address"
                                    name="email">
                            </form>
                        </div>
                        <div class="footer-contact-info">
                            <div class="footer-address">
                                <img src="/static/assets/img/icon/icon-20.svg" alt="" class="img-fluid">
                                <p> 3556 Beech Street, San Francisco,<br> California, CA 94108 </p>
                            </div>
                            <p>
                                <img src="/static/assets/img/icon/icon-19.svg" alt="" class="img-fluid">
                                <a href="https://dreamslms.dreamguystech.com/cdn-cgi/l/email-protection"
                                    class="__cf_email__"
                                    data-cfemail="5e3a2c3b3f332d32332d1e3b263f332e323b703d3133">[email&#160;protected]</a>
                            </p>
                            <p class="mb-0">
                                <img src="/static/assets/img/icon/icon-21.svg" alt="" class="img-fluid">
                                +19 123-456-7890
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="footer-bottom">
        <div class="container">

            <div class="copyright">
                <div class="row">
                    <div class="col-md-6">
                        <div class="privacy-policy">
                            <ul>
                                <li><a href="term-condition.html">Terms</a></li>
                                <li><a href="privacy-policy.html">Privacy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="copyright-text">
                            <p class="mb-0">&copy; 2022 DreamsLMS. All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</footer>
</body>

</html>
