<ul class="sidebar navbar-nav">
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">
            <span class="text-center">
                <h6>{{request.user.first_name}} {{request.user.last_name}}</h6>
            </span>
            <span class="text-center">
                <h6>CTO</h6>
            </span>
        </a>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="pagesDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-sitemap"></i>
            <span>Passionate Skill</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <a class="dropdown-item" href="../../../../cto/cto-add-passionateskill">Add Passionate Skill</a>
            <a class="dropdown-item" href="../../../../cto/cto-view-passionateskill">View Passionate Skill</a>
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="pagesDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-project-diagram"></i>
            <span>Known Skill</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <a class="dropdown-item" href="../../../../cto/cto-add-knownskill">Add Known Skill</a>
            <a class="dropdown-item" href="../../../../cto/cto-view-knownskill">View Known Skill</a>
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="pagesDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-tasks"></i>
            <span>Course Related</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <a class="dropdown-item" href="../../../../cto/cto-add-subject">Add Subject</a>
            <a class="dropdown-item" href="../../../../cto/cto-view-subject">View Subject</a>
            <a class="dropdown-item" href="../../../../cto/cto-add-module">Add Module</a>
            <a class="dropdown-item" href="../../../../cto/cto-view-module">View Module</a>
            <a class="dropdown-item" href="../../../../cto/cto-add-chapter">Add Chapter</a>
            <a class="dropdown-item" href="../../../../cto/cto-view-chapter">View Chapter</a>
            <a class="dropdown-item" href="../../../../cto/cto-add-topic">Add Topic</a>
            <a class="dropdown-item" href="../../../../cto/cto-view-topic">View Topic</a>
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="pagesDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-list-ul"></i>
            <span>Course</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <a class="dropdown-item" href="../../../../cto/cto-add-course">Add Course</a>
            <a class="dropdown-item" href="../../../../cto/cto-view-course">View Course</a>
            <a class="dropdown-item" href="../../../../cto/cto-add-courseset">Add Course Set</a>
            <a class="dropdown-item" href="../../../../cto/cto-view-courseset">View Course Set</a>
            <a class="dropdown-item " href="../../../../cto/cto-upload-subject-details-csv">Upload Subject CSV</a>
            <a class="dropdown-item " href="../../../../cto/cto-upload-course-details-csv">Upload Course CSV</a>
            <a class="dropdown-item " href="../../../../cto/cto-upload-courseset-details-csv">Upload Course Set CSV</a>
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="pagesDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-sync"></i>
            <span>Video Related</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <a class="dropdown-item" href="../../../../cto/cto-sync-youtube">Sync Videos</a>
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="pagesDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-sync"></i>
            <span>Trainer Notification</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <a class="dropdown-item" href="../../../../cto/cto-add-trainernotification">Add Notification</a>
            <a class="dropdown-item" href="../../../../cto/cto-view-trainernotification">View Notification</a>
        </div>
    </li>
</ul>