<!--**********************************
            Sidebar start
        ***********************************-->
<div class="dlabnav" style="overflow:auto;">
    <div class="settings-widget dash-profile">
        <div class="settings-menu p-0">
            <div class="profile-bg">
                <img src="/static/dreamlms/img/instructor-profile-bg.jpg" alt="">
                <div class="profile-img">
                    {% if userdetails.userprofile_set.first.profile_img %}
                    <a href="{% url 'user-profile' %}"><img src="{{ request.user.userprofile_set.first.profile_img.url }}" alt=""></a>
                    {% endif %}
                </div>
            </div> 
            <div class="profile-group">
                <div class="profile-name text-center">
                    <a href={% url 'user-profile' %}>{{request.user.first_name}} {{request.user.last_name}}</a>
                    <h6><a href={% url 'user-profile' %}>({{request.user.username}})</a></h6>
                    <h6>CTO</h6>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="dlabnav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="{% url 'cto-dashboard' %}" class="" aria-expanded="false">
                    <i class="bi bi-grid"></i>
                    <span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a class="has-arrow " href="{% url 'cto-view-mainhead' %}" aria-expanded="false">
                    <i class="bi bi-book"></i>
                    <span class="nav-text">Main Headings</span>
                </a>
                <ul aria-expanded="false">
                    <li>
                        <a href="{% url 'cto-add-mainhead' %}">Add Main Headings</a>
                    </li>
                    <li>
                        <a href="{% url 'cto-view-mainhead' %}">View Main Headings</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="has-arrow " href="{% url 'cto-view-subhead' %}" aria-expanded="false">
                    <i class="bi bi-people"></i>
                    <span class="nav-text">Sub Headings</span>
                </a>
                <ul aria-expanded="false">
                    <li>
                        <a href="{% url 'cto-add-subhead' %}">Add Sub Headings</a>
                    </li>
                    <li>
                        <a href="{% url 'cto-view-subhead' %}">View Sub Headings</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="has-arrow " href="{% url 'cto-view-subject' %}" aria-expanded="false">
                    <i class="bi bi-book"></i>
                    <span class="nav-text">Subjects</span>
                </a>
                <ul aria-expanded="false">
                    <li>
                        <a href="{% url 'cto-add-subject' %}">Add Subjects</a>
                    </li>
                    <li>
                        <a href="{% url 'cto-view-subject' %}">View Subjects</a>
                    </li>
                    <li>
                        <a href="{% url 'cto-upload-subject-details-csv' %}">Upload Subject CSV</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="has-arrow " href="{% url 'cto-view-chapter' %}" aria-expanded="false">
                    <i class="bi bi-book-half"></i>
                    <span class="nav-text">Chapters</span>
                </a>
                <ul aria-expanded="false">
                    <li>
                        <a href="{% url 'cto-add-chapter' %}">Add Chapters</a>
                    </li>
                    <li>
                        <a href="{% url 'cto-view-chapter' %}">View Chapters</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="has-arrow " href="{% url 'cto-view-topic' %}" aria-expanded="false">
                    <i class="bi bi-book-half"></i>
                    <span class="nav-text">Topics</span>
                </a>
                <ul aria-expanded="false">
                    <li>
                        <a href="{% url 'cto-add-topic' %}">Add Topics</a>
                    </li>
                    <li>
                        <a href="{% url 'cto-view-topic' %}">View Topics</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="has-arrow " href="{% url 'cto-view-module' %}" aria-expanded="false">
                    <i class="bi bi-card-list"></i>
                    <span class="nav-text">Modules</span>
                </a>
                <ul aria-expanded="false">
                    <li>
                        <a href="{% url 'cto-add-module' %}">Add Modules</a>
                    </li>
                    <li>
                        <a href="{% url 'cto-view-module' %}">View Modules</a>
                    </li>
                </ul>
            </li>
            <li>
                <a
                    class="has-arrow "
                    href="{% url 'cto-sync-youtube' %}"
                    class=""
                    aria-expanded="false"
                >
                    <i class="bi bi-arrow-repeat"></i>
                    <span class="nav-text">Sync Videos</span>
                </a>
                <ul aria-expanded="false">
                    <li>
                        <a href="{% url 'cto-sync-youtube' %}">Sync Videos</a>
                    </li>
                    <li>
                        <a href="{% url 'cto-lxp-upload-doc-file' %}">Video Material Upload</a>
                    </li>
                    <li>
                        <a href="{% url 'cto-add-playlist' %}">Add Play List</a>
                    </li>
                    <li>
                        <a href="{% url 'cto-view-playlist' %}">View Play List</a>
                    </li>
                    <li>
                        <a href="{% url 'cto-view-video-list' %}">View Video List</a>
                    </li>
                </ul>
                
                <div class="instructor-title">
                    <h4>ACCOUNT SETTINGS</h4>
                </div>
                <li class="nav-item">
                    <a href="{% url 'user-profile-update'%}" class="nav-link">
                        <i class="feather-power"></i> Update Profile
                    </a>
                </li>
                <li>
                    <a href="{% url 'logout' %}" class="" aria-expanded="false">
                        <i class="bi bi-door-closed"></i>
                        <span class="nav-text">Sign Out</span>
                    </a>
                    <li>
                    </ul>
                </div>
            </div>
            <!--**********************************
            Sidebar end
        ***********************************-->
